
h1
  | Some text over here
h2
  | {{ landingCtrl.variable }}

span.button-group
  button(ng-click="landingCtrl.toggleHide('En Obra')")
    | Hide under construction
  button(ng-click="landingCtrl.toggleHide('En Operacion')")
    | Hide in operation
  button(ng-click="landingCtrl.showAll()")
    | Show all

.selector-wrapper
  select(chosen options='landingCtrl.companies' ng-model='landingCtrl.actualCompany' ng-options='s as s.empresa for s in landingCtrl.companies')

.content-container
  .map-wrapper
    h3
      | Here's the map
    h4(ng-if="landingCtrl.actualCompany")
      | Companies of sector: {{landingCtrl.actualCompany.sector}} are displayed
    ui-gmap-google-map(center='landingCtrl.map.center' zoom='landingCtrl.map.zoom')
      span(ng-repeat='marker in landingCtrl.markers')
        ui-gmap-marker(coords='marker.coords' idkey='marker.id' events='marker.events' options='marker.options')

  .actual-company(ng-if='landingCtrl.actualCompany')
    h3
      | Here's the selected company
    h4
      | {{ landingCtrl.actualCompany.empresa }}
    h4
      | {{ landingCtrl.actualCompany.direccion }}
    h4
      | {{ landingCtrl.actualCompany.sector }}
    span(ng-if="landingCtrl.actualCompany.url")
      a(ng-href="{{landingCtrl.actualCompany.url}}" target="_blank")
        | More info here
