body {
  background-image: url('../assets/wolox_bg.png');
}

.center {
  background-color: $translucent-white;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;

  h1 {
    color: $wolox-green;
  }
}

.class-to-be-purified {
  color: $translucent-white;
}

// Google maps
.angular-google-map-container {
  height: 600px;
}
